**/__pycache__/**

*.ckpt
*.pth
*.onnx
*.engine
*.profile
*.timing
saved_parameters.json
data.json
merged_embeddings*.txt
.vs
*.sln
*.pyproj
.vscode/
tensorrt-engines/
source_videos/
source_images/
TensorRT*/