**/__pycache__/**

models/*.ckpt
models/*.pth
models/*.onnx
models/*.pkl
saved_parameters.json
data.json
merged_embeddings*.txt
.vs
*.sln
*.pyproj
*.engine
*.profile
*.timing
tensorrt-engines/*.onnx
.vscode/
