**/__pycache__/**

models/*.ckpt
models/*.pth
models/*.onnx
saved_parameters.json
data.json
merged_embeddings.txt
merged_embeddings_bak.txt
.vs
*.sln
*.pyproj
*.engine
*.profile
*.onnx
*.timing
.vscode/
